API_KEY=
FILE_COUNT=7

fee_recipient=
seller_fee_basis_points=

imageCid=bafybeicw4k46vpqxqlalb3gpazlmrfpgz2huuow5prlkek5pjaqbltp25m
videoCid=bafybeih5uq2syv5mgxxuyn7eye2fjpi5brki2eqsngzdpisyudj7nsp4k4
metaDataCid=bafybeigixtx4fisu7n2fjopcsawg5f4tloyyi2u2rt5pqifknjmduxe5pe